@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Open+Sans:ital,wght@0,300;0,400;1,600&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,500&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,900&display=swap');

:root
{
    --bg-black-900:#f2f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    
}

body.dark{
   --bg-black-900:#15151151;
   --bg-black-100:#222222;
   --bg-black-50:#39393939;
   --text-black-900:#ffff;
   --text-black-700:#e9e9e9;
  
}
body{
  
    line-height:1.5;
    font-size:25px;

    font-family: 'Clicker Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

 *{
    margin:0;
    padding:0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
  
 }

 ::before,::after{
    box-sizing: border-box;
 }
 ul{
    list-style: none;
 }

 .hidden {
   display:none !important;
 }
   
 section{
    background: var(--bg-black-50);
    min-height: 100vh;
    display:block;
   
    top:0;
    padding: 0 30px;;
    right: 0;
    z-index: 0;
    opacity:1;
  
 }
 .main-content{
   padding-left:270px;
 }
 .hidden{
   display:none !important;
 }

 .padd-15{
   padding-left:15px;
   padding-right:15px;
 }
 .section .container{
   padding-top:60px;
   padding-bottom:70px;
 }
 .section-title{
    flex:0 0 100%;
    max-width:100%;
    
 }
 .container{
   max-width:1100px;
   width:100%;
  
   margin:auto;
 }
 .section-title h2{
   font-size:30px;
   font-family: 'roboto';
   color:var(--text-black-900);
   
    left: 3%;
 }
 .section-title h2::before{
   content:'';
   height:4px;
   width:50px;
   background-color:var(--skin-color);
   position:absolute;
   top: 84%;
   left:10;
 }
 
 #services h2::before{
   content:'';
   height:4px;
   width:50px;
   background-color:var(--skin-color);
   position:absolute;
   top: 8%;
   left: 2%;
 }


 .row{
   display:flex;
   flex-wrap: wrap;
   /* margin-left:100px;
   margin-right:100px; */
   margin-bottom:50px;
   position : relative;
 }
 .btn-hire-me{
   font-size: 16px;
   font-weight: 400;
   padding:12px 35px;
   background: var(--skin-color);
   color:white;
   border:none;
   border-radius: 40px;
   display: inline-block;
   white-space: nowrap;
   transition:all 0.3s ease;
   cursor: pointer;
 }
 .btn-hire-me:hover{
   transform: scale(1.05);
 }
 /* aside */
 .aside{
    width:270px;
    background-color: var(--bg-black-100);
    position: fixed;
    left:0;
    top:0;
    border-right:1px solid var(--bg-black-50);
    height:100%;
    z-index: 10;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index:10;
    
 }
 .aside .logo{
    position:absolute;
    top:50px;
    font-size:30px;
    text-transform: capitalize;
 }
 .shadow-dark{
   box-shadow:  0 0 20px rgba(48, 46, 77, 0.5);
 }
 .aside .logo a{
    color: var(--skin-color);
    font-weight: 300;
    padding:15px 20px;
    font-size: 0px;
    letter-spacing: 5px;
    padding:15px 20px;
     font-size:40px;
    letter-spacing: 5px;
    position:relative;
 }
 .aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
 }  
 .aside .logo a::before{
    content:"";
    position:absolute;
    width:20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom:0;
    left:0;
 } 
 .aside .logo a::after{
    content:"";
    position:absolute;
    width:20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top:0;
    right:0;
 } 
 .aside .nav-toggle{
    height:40px;
    width: 45px;
    border:1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left:300px;
    top:20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;

 }
 .aside .nav-toggle span{
    height:2px;
    width:18px;
    background:var(--skin-color);
    display: inline-block;
    position:relative;
 }
 .aside .nav-toggle span::before{
    content:"";
    height:2px;
    width:18px;
    background: var(--skin-color);
    position:absolute;
    top:-6px;
    left:0;
 }
 .aside .nav-toggle span::after{
    content:"";
    height:2px;
    width:18px;
    background: var(--skin-color);
    position:absolute;
    top:6px;
    left:0;
 }
 .aside .nav{
    margin-top: 50px;
 }
 .aside .nav li{
    margin-bottom: 20px;
    display: flex;
 }
 .aside .nav li a{
  font-size: 25px;
  font-weight: 400;
  display:block;
  padding:5px 15px;
  border-bottom: 1px solid var(--bg-black-50);
  color:var(--text-black-900);

 }
 .aside .nav li a.active {
    color: var(--skin-color);
 }
 .aside .nav li a i {
  margin-right:15px;
 } 
 /* home  */
 .home{
   min-height: 100vh;
   display:flex;
   color:var(--text-black-900);
  
 }
 .home-info{
   flex:0 0 60%;
   max-width:60%;
   margin:20% 10px 10px 10px;
   text-align: center;
   position: relative;
 }

 .home .home-img img{
 height:400px;
 position: relative;
 transform:translate(-50%);
 transition:bottom 1s, left 3s;

 }

  .home-img{
   flex: 0  0 40%;
   max-width:40%;
   position:absolute;
   top:-20%;
   left:70%;


 }
 .home-info h3{
   font-family: 'roboto';
   text-transform: uppercase;
 }

 .home-img::after{
   content: "";
   position:absolute;
   height:80px;
   width:80px;
   border-bottom:10px solid var(--skin-color);
   border-right: 10px solid var(--skin-color);
   right:50px;
   bottom:-10px;
 }
 .home-img::before{
   content: "";
   position:absolute;
   height:80px;
   width:80px;
   border-top:10px solid var(--skin-color);
   border-left: 10px solid var(--skin-color);
   left:-150px;
   top:150px;
 }
 h3 .hello{
   font-size:28px;
   margin:15px 0;
   
 }
 h3.hello span{
   /* font-family:'Clicker script', cursive; */
   font-size:40px;
   font-weight:400;
   color:var(--skin-color);
 }
h3.my-profession {
   font-size:30px;
   margin:15px 0;
}
.typing{
   color:var(--skin-color);
}
.home-info p{
   margin-bottom: 70px;
   font-size:20px;

}
 /* About */

 .about .about-content{
   flex: 0 0 100%;
   max-width:100%;

 }
 .about .about-content .about-text{
   flex: 0 0 100%;
   max-width:100%;
 }

 .about .about-content .about-text h3{
       font-size: 35px;
        margin-bottom:40px;
        font-weight:700;
        color:var(--text-black-900);
        text-transform: capitalize;
 }
 .about .about-content .about-text h3 span{
   color:var(--skin-color);
 }
 .about .about-content .about-text p{
   font-size:22px;
   text-transform: capitalize;
   line-height: 1.8;
   color:var(--text-black-700);
   margin-left:-10px;
 }
.about .about-content .personal-info{
   flex: 0 0 60%;
   max-width:60%;
   margin-top: 40px;
  
  
 
}
.about .about-content .skills{
   flex:0 0 40%;
   max-width: 40%;
   margin-top: 40px;

}
.about .about-content .personal-info .info-item p{

   font-size: 600;
   padding: 10px;
   font-size:16px;
  border-bottom: 1px solid #777;
   color:var(--text-black-900);
}
.about .about-content .personal-info .buttons{
   margin-top:30px;
}
.about .about-content .personal-info .buttons .btn{
   margin-right:15px;
   margin-top:10px;
}

.about .about-content .personal-info .info-item p span{
   font-weight:600;
   color:var(--text-black-700);
   margin-left:4px;
   display: inline-block;
}

.about .about-content .personal-info .info-item{
   flex: 0 0 50%;
   max-width:50%;
  
}
/* skills */
.about .about-content .skills .skills-item{
  flex: 0 0 100%;
  max-width: 100;
}
.about .about-content .skills .skills-item h5{
 
line-height: 40px;
font-weight:500;
font-size:16px;
color:var(--text-black-900);
text-transform: capitalize;
}
.about .about-content .skills .skills-item .progress{
   background-color: var(--bg-black-50);
   height:7px;
   border-radius: 4px;
   width:100%;
   position: relative;
}
.about .about-content .skills .skills-item {
   margin-bottom:25px;
}
.about .about-content .skills .skills-item .progress-in{
   position: absolute;
   left:0;
   top:0;
   height:100%;
   border-radius:4px;
   background-color: var(--skin-color);
}
.about .about-content .skills .skills-item .skill-percent{
   position: absolute;
   right: 0;
   color:var(--text-black-900);
   top:-40px;
   font-weight: 400;
   line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience {
 flex:0 0 50%;
 max-width: 50%;
 margin-top:30px;
}
.about .about-content h3.title{
   font-size: 24px;
 
   margin: 30px;
   font-weight: 500;
   color:var(--text-black-900); 
}
.about .about-content .timline-box{
   flex:0 0 100%;
   max-width:100%;
  
}
.about .about-content .timeline{
   background-color: var(--bg-black-100);
   padding: 30px 15px;
   border: 1px solid var(--bg-black-50);
   border-radius: 10px;
   width:100%;
   position:relative;
   left: -20px;
}
.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left:37px;
    padding-bottom: 40px;
}
.about .about-content .timeline .timeline-item:last-child{
   padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before{
   content:'';
   width:1px;
   position:absolute;
   height:100%;
   top:0;
   left:7px;
   background-color: var(--skin-color);
}

.about .about-content .circle-dot i{
   color:var(--skin-color);
}
.about .about-content .circle-dot {
   content:'';
   position: absolute;
   left:0;
   top:0;
   height:15px;
   width:15px;
   border-radius: 50%;
   background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-date{
   font-weight: 400;
   font-size:14px;
   margin-bottom:12px;
   color:var(--text-black-700);
}
.about .about-content .timeline .fa{
   margin-right:5px;
}
.about .about-content .timeline .timeline-title{
   font-weight: 700;
   font-size:18px;
   margin-bottom:15px;
   text-transform: capitalize;
   color:white;
}
.about .about-content .timeline .time-text {
   line-height: 25px;
   font-size:16px;
   text-align: justify;
   color:var(--text-black-700);
}
/* services */
.service .container{
   padding-bottom: 40px;
}
.service .service-item{
 margin-bottom: 30px;
 flex:0 0 33.33%;
 max-width:33.33%;

}
.service .service-item .services-item-inner{
   background-color: var(--bg-black-100);
   border:1px solid var(--bg-black-50);
   border-radius:10px;
   padding:30px 15px;
   margin:8px;
   text-align:center;
   transition: all 0.3s ease;
}
.service .service-item .services-item-inner:hover{
   box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .services-item-inner .icon{
   height:60px;
   width:60px;
   border-radius: 50%;
   display: block;
   margin: 0 auto 30px;
   text-align: center;
   transition:all 0.3s ease;

}
.service .service-item .services-item-inner .icon .fa{
   font-size: 40px;
   line-height:60px;
   color: var(--skin-color);
   transition: all 0.3s ease;
}
.service .service-item .services-item-inner:hover .icon{
   background-color: var(--skin-color);
}
.service .service-item .services-item-inner:hover .icon .fa{
   font-size: 25px;
   color:#fff;
}
.service .service-item .services-item-inner h4{
   font-size: 18px;
   margin-bottom: 15px;
   color:var(--text-black-900);
   text-transform: capitalize;
}
.service .service-item .services-item-inner p{
   font-size: 16px;
   color:var(--text-black-700);
   line-height: 25px;
}
/* portfolio */

.portfolio .portfolio-heading {
    flex: 0  0 100%;
    max-width: 100%;
    
}
.portfolio .portfolio-heading h2{
   font-weight: 500;
   color:var(--text-black-900);
   margin-top:40px;
}
.portfolio .container{
   padding-bottom: 40px;
}
.portfolio .portfolio-item{
   /* display: flex;
   flex-direction: column;
   flex-wrap:wrap; */
   max-width:100%;
   margin-bottom:30px;
}
.portfolio .portfolio-item-inner{
   border:6px solid var(--bg-black-100);
   border-radius: 10px;
   overflow: hidden;
   cursor:pointer;
}
.portfolio .portfolio-item-inner .portfolio-img{
   width:100%;
   display:block;
}
.btn {
   position: relative;
   width: 250px;
   height: 80px;
   display: grid;
   place-items: center;
   background: var(--skin-color);
   color: #fff;
   border-radius: 80px;
   font-size: 1.5rem;
   font-weight: 600;
   letter-spacing: 1px;
   text-decoration: none;
   border-top: 2px solid #e6e6fa;
   border-left: 2px solid #e6e6fa;
   padding-left: 60px;
   overflow: hidden;
   transition: 0.5s ease-in-out;
 }

   .portfolio-img {
      border: 2px solid #000;
      border-radius: 10px;
      margin: 20px;
      padding: 20px;
      box-shadow: 15px 15px 20px 5px #000;
      width: 600px;
   
      display: grid;
      /* 	grid-gap: 5px; */
      grid-template-columns: 300px 300px;
      grid-template-rows: 300px 300px;
   }
   
   .gallery img {
      width: 100%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      animation: nonHover 0.5s ease-out forwards;
   }
    img:hover {
      cursor: pointer;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      animation: hover 0.5s ease-in forwards;
   }
   video:hover{
      cursor: pointer;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      animation: hover 0.5s ease-in forwards;
   }
   
   figcaption {
      padding: 0.2em;
      text-align: center;
      transition: all 0.5s ease-out;
   }
   img:hover ~ figcaption {
      padding: 1em;
      margin: 0.5em;
      transition: all 0.5s ease-in;
      font-size: 20px;
      color: teal;
   }
   
   @keyframes nonHover {
      0% {
         transform: scale(1.2);
         box-shadow: 5px 5px 20px 5px #000;
      }
      100% {
         transform: scale(1);
         box-shadow: 3px 3px 6px 3px #000;
      }
   }
   
    @keyframes hover {
      0% {
         transform: scale(1);
         box-shadow: 3px 3px 10px 5px #000;
      }
      100% {
         transform: scale(1.2);
         box-shadow: 5px 5px 20px 5px #000;
      }
   } */
   
 
 .btn:hover {
   padding-left: 0;
   padding-right: 60px;
   color: #fff;
 }
 .btn span {
   position: absolute;
   display: grid;
   place-items: center;
   left: 5px;
   width: 70px;
   height: 70px;
   background: #fff;
   color: #000;
   border-radius: 50%;
   font-size: 1.5rem;
   font-weight: 600;
   transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
 }
 .btn:hover span {
   left: calc(100% - 76px);
 }
 .btn::after {
   position: absolute;
   content: "";
   width: 80px;
   height: 100%;
   z-index: 1;
   background: rgba(255, 255, 255, 0.5);
   transform: translateX(-175px) skew(25deg);
   transition: 0.75s ease-in-out;
 }
 .btn:hover::after {
   transform: translateX(175px) skew(25deg);
 }
 
/* CONTACT START */
.contact-title{
   color:var(--skin-color);
   font-size:25px;
   text-align:center;
   margin-bottom:20px;
}
.contact-sub-title{
   color:var(--text-black-900);
   font-size:15px;
   text-align:center;
   margin-bottom: 60px;
   
}
.contact .contact-info-item{
   flex:0 0 25%;
   max-width: 100%;
   text-align: center;
}

.contact .contact-info-item .icon{
   display:inline-block;
   font-size:33px;

}
.contact .contact-info-item .icon .fa {
   font-style: 25px;
   color:var(--skin-color);
}
.contact .icon .fab{
   color:var(--skin-color);
}
.contact .contact-info-item h4{
   font-size:18px;
   font-weight:700;
   color:var(--text-black-900);
   text-transform: capitalize;
   margin:15px 0 5px;
}
.contact .contact-info-item p{
font-size:16px;
content: 25px;
color: var(--text-black-700);
font-weight: 400;
}
.contact .contact-form {
   flex:0 0 100%;
   max-width:100%;

}
.contact .contact-form .col-6{
   flex:0  0 50%;
   max-width:50%;
   
}

.contact .contact-form .col-12{
   flex:0  0 100%;
   max-width:100%;
 

}
.contact .contact-form .form-item{
   margin-bottom:30px;
}
.contact .contact-form .form-item .form-control{
   width:100%;
   height:50px;
   border-radius:25px;
   background: var(--bg-black-100);
   border:1px solid var(--bg-black-50);
   font-size: 16px;
   padding: 10px 25px;
   color:var(--text-black-700);
   transition:all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus{
   box-shadow:0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control{
   height:140px;
}
.contact .contact-form .btn-hire-me{
   margin-left:20%;

}
@media (max-width:1199px){
   .aside{
      left:-270px;
   }
   .main-content{
      padding-left:0;
   }
   .about .about-content .personal-info .info-item p span{
      display:block;
      margin-left:0;
   }
   .about .about-content .personal-info .buttons{
      display: flex;
     
   }
   .about .about-content .personal-info .info-item p{
      font-size:15px;
   }
}
@media (max-width:991px){
   .home {
      display:none;
   }
   
  .contact .contact-info-item,
   .portfolio .portfolio-item,
   .service .service-item{
      flex:0 0 50%;
     max-width: 50%;
   }
  
   .home .home-info{
      flex:  0 0 100%;
      max-width:100%;
   }
}
@media (max-width:767px){
   .contact .contact-form .col-6,
   .contact .contact-info-item,
   .portfolio .portfolio-item,
   .service .service-item,
   .about .about-content .education,
   .about .about-content .experience,
   .about .about-content .personal-info,
   .about .about-content .skills,
   .about .about-content .personal-info{
      flex:0 0 100%;
      max-width:100%;
   }
}


/* Skills section */
/* .skills-section {
  width: 100%; 
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);
}



.skills-section img {
  width: 40%;
  margin: 0 auto;
  background: transparent;
  animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
  -webkit-animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
  -o-animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
} */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
h1.text-skills {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 40px;
  filter: opacity(0.2);
  text-align: center;
} 

.skills-section {
   width: 100%; 
   height: 100%;
   margin: 0 auto;
   position: relative;
   padding:0;
   align-items: center;
   justify-content: center;
   
 }
 
 h1.text-skills {
   position: absolute;
   left: 0;
   right: 0;
   font-size: 30rem;
   filter: opacity(0.2);
   text-align: center;
 }
 
  .skills-section img {
   width: 62%;
   margin: 10px 25px 10px 25px;;
   background: transparent;
   animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
   -webkit-animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
   -o-animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
 }
 #portfolio .btn-hire-me a{
   color:white;
 }
 #portfolio .btn-hire-me {
  top:110%;
  position:absolute;
  left:10%
 }

 
 @keyframes rotate {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(45deg);
   }
 }
 /* End of Skills Section */
 
 /* Mobile devices Styling */
 @media screen and (max-width: 1300px) {
   #services {
     padding: 0 1rem;
   }
 }
 
 @media screen and (max-width: 1024px) {
    /* h1.text-skills {
     font-size: 16rem;
     opacity: 0.9;
   } */
 } 
 
 @media screen and (max-width: 768px){ 
    h1.text-skills {
     font-size: 12rem;
   }
 }
 
 @media screen and (max-width: 480px) {
   .skills-section img {
     width: 60%;
   }
   
    h1.text-skills {
     font-size: 8rem;
   }
 }
 
 /* @media screen and (max-width: 360px) {
    h1.text-skills {
     font-size: 5rem;
   }
 } */

/* End of Skills Section */

/* Mobile devices Styling */


